/**
 * @package Goomento_PageBuilder
 * @link https://github.com/Goomento/PageBuilder
 */

.gmt-widget-text {

    .gmt-text-title {
        padding: 0;
        margin: 0;

        > a {
            color: inherit;
            font-size: inherit;
        }
    }
}
