//
// Forms (Input, Textarea, Select Etc..)
//

.gmt-form-fields-wrapper {
	display: flex;
	flex-wrap: wrap;

	&.gmt-labels-above {

		> .gmt-field-group {

			> input, > textarea, > .gmt-select-wrapper, .gmt-field-subgroup {
				flex-basis: 100%;
				max-width: 100%; // Fix for Firefox browser
			}
		}
	}

	&.gmt-labels-inline {

		> .gmt-field-group {

			> input, .gmt-select-wrapper {
				flex-grow: 1;
			}
		}
	}
}

.gmt-field-group {
	flex-wrap: wrap;
	align-items: center;

	&.gmt-field-type-submit {
		align-items: flex-end;
	}

	.gmt-field-textual {
		width: 100%;
		max-width: 100%; // Tweak for themes that set this property
		border: 1px solid $gray;
		background-color: transparent;
		color: $gray-darker;
		vertical-align: middle;
		flex-grow: 1;

		&:focus {
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
			outline: 0;
		}

		// Input Placeholder
		@include input-placeholder();
	}

	.gmt-select-wrapper {
		display: flex;
		position: relative;
		width: 100%;

		select {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			color: inherit;
			font-size: inherit;
			font-family: inherit;
			font-weight: inherit;
			font-style: inherit;
			text-transform: inherit;
			letter-spacing: inherit;
			line-height: inherit;
			flex-basis: 100%;
			@include padding-end(20px);
		}

		&:before {
			content: '\e92a';
			font-family: 'eicons';
			font-size: 15px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@include end(10px);
			pointer-events: none;
		}
	}

	&.gmt-field-type-select-multiple{
		.gmt-select-wrapper:before {
			content: '';
		}
	}
}

.gmt-field-subgroup {
	display: flex;
	flex-wrap: wrap;

	.gmt-field-option {

		label {
			display: inline-block;
		}
	}

	&.gmt-subgroup-inline {

		.gmt-field-option {
			@include padding-end(10px);
		}
	}

	&:not(.gmt-subgroup-inline) {

		.gmt-field-option {
			flex-basis: 100%;
		}
	}
}

.gmt-field-type-checkbox,
.gmt-field-type-radio,
.gmt-field-type-acceptance {

	.gmt-field-subgroup {

		.gmt-field-option {

			input,
			label {
				display: inline;
			}
		}
	}
}

.gmt-field-label {
	cursor: pointer;

	.gmt-mark-required &:after {
		content: '*';
		color: red;
		@include padding-start(0.2em);
	}
}

// Keep the following out from another parent selector!
.gmt-field-textual {
	line-height: 1.4;

	&.gmt-size- {

		&xs {
			font-size: 13px;
			min-height: 33px;
			padding: 4px 12px;
			border-radius: 2px;
		}

		&sm {
			font-size: 15px;
			min-height: 40px;
			padding: 5px 14px;
			border-radius: 3px;
		}

		&md {
			font-size: 16px;
			min-height: 47px;
			padding: 6px 16px;
			border-radius: 4px;
		}

		&lg {
			font-size: 18px;
			min-height: 59px;
			padding: 7px 20px;
			border-radius: 5px;
		}

		&xl {
			font-size: 20px;
			min-height: 72px;
			padding: 8px 24px;
			border-radius: 6px;
		}
	}
}

@mixin btn-align() {

	&center .gmt-field-type-submit{
		justify-content: center;
	}

	&stretch .gmt-field-type-submit{

		button {
			flex-basis: 100%;
		}
	}

	&start .gmt-field-type-submit{
		justify-content: getValueByDirection(flex-start, flex-end);
	}

	&end .gmt-field-type-submit{
		justify-content: getValueByDirection(flex-end, flex-start);
	}
}

.gmt-button-align- {
	@include btn-align();
}

@media screen and ( max-width: $screen-md-max ){

	.gmt-tablet-button-align- {
		@include btn-align();
	}
}

@media screen and ( max-width: $screen-sm-max ){

	.gmt-mobile-button-align- {
		@include btn-align();
	}
}

// Form Messages
.gmt-error {

	.gmt-field {
		border-color: $danger;
	}

	.help-inline {
		color: $danger;
		font-size: 0.9em;
	}
}

.gmt-message {
	margin: 10px 0;
	font-size: 1em;
	line-height: 1;

	&.gmt-message-danger {
		color: $danger;
	}

	&.form-message-success {
		color: $success;
	}
}

// Form Submit Button
.gmt-form {

	.gmt-button {
		padding-top: 0;
		padding-bottom: 0;
		border: 0 none;

		& > span {
			display: flex;
			justify-content: center;
		}

		.gmt-align-icon-right {
			order: getValueByDirection( 2 ,0 );
		}

		.gmt-align-icon-left {
			order: getValueByDirection( 0 ,2 );
		}

		&.gmt-size- {

			&xs {
				min-height: 33px;
			}

			&sm {
				min-height: 40px;
			}

			&md {
				min-height: 47px;
			}

			&lg {
				min-height: 59px;
			}

			&xl {
				min-height: 72px;
			}
		}
	}
}
