.gmt:not(.gmt-edit-area-active) {
	@media (max-width: $screen-sm-max) {
		.gmt-hidden-phone {
			display: none;
		}
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		.gmt-hidden-tablet {
			display: none;
		}
	}

	@media (min-width: $screen-lg-min) {
		.gmt-hidden-desktop {
			display: none;
		}
	}
}