node_modules/
dist/
*.class
*.py[cod]
*.log
*.jar
target/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.map
*.zip
.sass-cache
build
!view/base/web/build
view/base/web/build/*.css
!view/base/web/build/*.min.css
view/base/web/build/*.js
!view/base/web/build/*.min.js
Developer.php

