node_modules/
dist/
*.class
*.py[cod]
*.log
*.jar
target/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.map
*.zip
.sass-cache
build
# Css
view/frontend/web/css/*.css
!view/frontend/web/css/*.min.css
view/base/web/css/*.css
!view/base/web/css/*.min.css
view/adminhtml/web/css/*.css
!view/adminhtml/web/css/*.min.css

