<?xml version="1.0"?>
<!--
/**
 * @package Goomento_PageBuilder
 * @link https://github.com/Goomento/PageBuilder
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pagebuilder>
            <general>
                <active>1</active>
            </general>
            <import>
                <allowed_download_image>0</allowed_download_image>
                <download_folder>media/goomento/images/imported/</download_folder>
            </import>
            <builder_assistance>
                <active>1</active>
                <new_tab>1</new_tab>
            </builder_assistance>
            <editor>
                <number_of_revision>100</number_of_revision>
                <is_rtl>0</is_rtl>
                <resources_globally>0</resources_globally>
                <render>
                    <fallback>empty</fallback>
                </render>
                <style>
                    <css_print_method>internal</css_print_method>
                </style>
            </editor>
        </pagebuilder>
    </default>
</config>
