<?xml version="1.0"?>
<!--
/**
 * @package Goomento_PageBuilder
 * @link https://github.com/Goomento/PageBuilder
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pagebuilder>
            <general>
                <active>1</active>
            </general>
            <connector>
                <token />
            </connector>
            <integrations>
                <fb_app_id />
                <google_maps_key />
            </integrations>
            <import>
                <allowed_download_image>0</allowed_download_image>
                <download_folder>media/goomento/images/imported/</download_folder>
            </import>
            <builder_assistance>
                <active>1</active>
                <open_in>iframe</open_in>
                <all_page>1</all_page>
                <custom_pages>
                    <![CDATA[{
                    "item0":{"page":"cms/page/new"},
                    "item1":{"page":"cms/page/edit"},
                    "item2":{"page":"cms/block/new"},
                    "item3":{"page":"cms/block/edit"},
                    "item4":{"page":"catalog/product/new"},
                    "item5":{"page":"catalog/product/edit"},
                    "item6":{"page":"catalog/category/new"},
                    "item7":{"page":"catalog/category/edit"}}]]>
                </custom_pages>
            </builder_assistance>
            <editor>
                <number_of_revision>200</number_of_revision>
                <is_rtl>0</is_rtl>
                <resources_globally>0</resources_globally>
                <debug>0</debug>
                <revisions>
                    <number_to_keep>500</number_to_keep>
                </revisions>
                <media>
                    <url />
                </media>
                <style>
                    <use_inline_css>1</use_inline_css>
                    <local_font>0</local_font>
                </style>
            </editor>
        </pagebuilder>
        <dev>
            <js>
                <minify_exclude>
                    <tiny_mce>/ace/</tiny_mce>
                </minify_exclude>
            </js>
            <css>
                <minify_exclude>
                    <tiny_mce>/ace/</tiny_mce>
                </minify_exclude>
            </css>
        </dev>
    </default>
</config>
