<?xml version="1.0"?>
<!--
/**
 * @package Goomento_PageBuilder
 * @link https://github.com/Goomento/PageBuilder
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="pagebuilder_content_save_after">
        <observer name="pagebuilder.process_url_rewrite_saving" instance="Goomento\PageBuilder\Observer\ProcessUrlRewriteSavingObserver" />
        <observer name="pagebuilder.process_content_assets_saving" instance="Goomento\PageBuilder\Observer\ProcessRefreshBuildableContentObserver" />
        <observer name="pagebuilder.process_content_cache" instance="Goomento\PageBuilder\Observer\ProcessRefreshContentCacheObserver" />
        <observer name="pagebuilder.process_clean_revision" instance="Goomento\PageBuilder\Observer\ProcessCleanRevisionsObserver" />
    </event>
    <event name="pagebuilder_content_revision_save_after">
        <observer name="pagebuilder.process_revision_assets_saving" instance="Goomento\PageBuilder\Observer\ProcessRefreshBuildableContentObserver" />
    </event>
    <event name="pagebuilder_content_delete_after">
        <observer name="pagebuilder.process_url_rewrite_delete" instance="Goomento\PageBuilder\Observer\ProcessUrlRewriteDeletingObserver" />
        <observer name="pagebuilder.process_url_remove_content_cache" instance="Goomento\PageBuilder\Observer\ProcessRefreshContentCacheObserver" />
    </event>
</config>
