//
// Button
//

.gmt-button {
	display: inline-block;
	line-height: 1;
	background-color: $gray;
	color: #fff;
	fill: #fff;
	text-align: center;
	transition: $transition-hover;

	&:hover,
	&:focus,
	&:visited {
		color: #fff;
	}

	&-icon svg {
		width: 1em;
	}

	&.gmt-size- {

		&xs {
			font-size: 13px;
			padding: 10px 20px;
		}

		&sm {
			font-size: 15px;
			padding: 12px 24px;
		}

		&md {
			font-size: 16px;
			padding: 15px 30px;
		}

		&lg {
			font-size: 18px;
			padding: 20px 40px;
		}

		&xl {
			font-size: 20px;
			padding: 25px 50px;
		}
	}

	.gmt-align-icon- {

		&right {
			float: right;
			margin-left: 5px;
		}

		&left {
			float: left;
			margin-right: 5px;
		}
	}

	.gmt-button-text {
		display: inline-block;
	}

	span {
		text-decoration: inherit; //fix for conflict with text-decoration & inline-block
	}
}

.gmt-element.gmt-button- {

	@include button-types( '.gmt-button' );

}

.gmt-widget-button {

	.gmt-button {

		.gmt-button- {

			@include button-types( '' );
		}
	}
}
