//
// Icon Box
//
.gmt-widget-icon-box {

	@media (min-width: $screen-md-min) {

		&.gmt-position- {

			&left,
			&right {

				.gmt-icon-box-wrapper {
					display: flex;
				}

				.gmt-icon-box-icon {
					display: inline-flex;
					flex: 0 0 auto; // Hack for Safari
				}
			}

			&right {

				.gmt-icon-box-wrapper {
					text-align: $end;
					flex-direction: getValueByDirection(row-reverse, row);
				}
			}

			&left {

				.gmt-icon-box-wrapper {
					text-align: $start;
					flex-direction: getValueByDirection(row, row-reverse);
				}
			}

			&top {

				.gmt-icon-box-img {
					margin: auto;
				}
			}
		}

		&.gmt-vertical-align- {

			&top {

				.gmt-icon-box-wrapper {
					align-items: flex-start;
				}
			}

			&middle {

				.gmt-icon-box-wrapper {
					align-items: center;
				}
			}

			&bottom {

				.gmt-icon-box-wrapper {
					align-items: flex-end;
				}
			}
		}
	}

	@media (max-width: $screen-sm-max) {

		// TEMP code to override the icon spacing
		.gmt-icon-box-icon {
			margin-left: auto !important;
			margin-right: auto !important;
			margin-bottom: 15px;
		}
	}

	.gmt-icon-box-wrapper {
		text-align: center;
	}

	.gmt-icon-box-title {

		a {
			color: inherit;
		}
	}

	.gmt-icon-box-content {
		flex-grow: 1;
	}

	.gmt-icon-box-description {
		margin: 0;
	}
}