//
// Image
//
.gmt-widget-image {
	text-align: center;

	.gmt-image {

		> a,
		figure > a {
			display: inline-block; //For alignment image with link - Changed to 'inline-block' instead of 'block' to handle with this issue https://github.com/gmt/gmt/issues/5897

			img[src$=".svg"] {
				width: 48px; //Fix SVG image src, issue: https://github.com/gmt/gmt/issues/5987
			}
		}

		img {
			vertical-align: middle;
			display: inline-block;
		}

		&.gmt-image-shape- {

			&circle {
				border-radius: 50%;
			}
		}
	}
}
