/**
 * @package Goomento_PageBuilder
 * @link https://github.com/Goomento/PageBuilder
 */

@mixin gmt-grid-classes {

    @each $sizeKey, $size in $column-sizes {

        &.gmt-col-#{$sizeKey}, &[data-col="#{$sizeKey}"] {
            width: $size;
        }
    }
}

@mixin gmt-responsive($breakpoint-name) {

    @each $size-name, $size in $column-sizes {

        &.gmt-#{$breakpoint-name}-#{$size-name} {
            width: $size;
        }
    }

}

@mixin reverse-columns($device) {

    .gmt-reverse#{$device} > .gmt-container > .gmt-row {
        @for $i from 1 through 10 {
            > :nth-child(#{$i}) {
                order: -$i + 11;
            }
        }
    }
}
@mixin grid_loop($device) {

    &#{$device}-0 {
        .gmt-grid {
            display: flex;
            overflow: hidden;
            flex-wrap: wrap;
        }
    }

    @for $i from 1 through 12 {

        &#{$device}-#{$i} {
            .gmt-grid {
                grid-template-columns: repeat(#{$i} , 1fr);
                display: grid;
            }
        }
    }
}

